excercises can be found together with solutions on: https://www.machinelearningplus.com/python/101-pandas-exercises-python/

pandas documentation: https://numpy.org/doc/stable/user/index.html

caution!!!: solutions provided on the website use now deprecated version of np.random, I use the current version

### 1

In [1]:
import numpy as np
import pandas as pd
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '7d32926db8f7541c356066dcadabf854487738de'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.2.2

FILE
    /home/adam/.local/lib/python3.8/site-packages/pandas/__init__.py

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
print(pd.__version__)

1.2.2

### 2

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
pd_mylist = pd.Series(mylist)
pd_myarr = pd.Series(myarr)
pd_mydict = pd.Series(mydict)

In [6]:
pd_mylist, pd_myarr, pd_mydict

(0     a
 1     b
 2     c
 3     e
 4     d
 5     f
 6     g
 7     h
 8     i
 9     j
 10    k
 11    l
 12    m
 13    n
 14    o
 15    p
 16    q
 17    r
 18    s
 19    t
 20    u
 21    v
 22    w
 23    x
 24    y
 25    z
 dtype: object,
 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 dtype: int64,
 a     0
 b     1
 c     2
 e     3
 d     4
 f     5
 g     6
 h     7
 i     8
 j     9
 k    10
 l    11
 m    12
 n    13
 o    14
 p    15
 q    16
 r    17
 s    18
 t    19
 u    20
 v    21
 w    22
 x    23
 y    24
 z    25
 dtype: int64)

### 3

In [7]:
dataframe = pd.DataFrame(pd_mydict.values)

In [8]:
dataframe

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25

In [9]:
dataframe[1] = pd_mydict.index

In [10]:
dataframe

     0  1
0    0  a
1    1  b
2    2  c
3    3  e
4    4  d
5    5  f
6    6  g
7    7  h
8    8  i
9    9  j
10  10  k
11  11  l
12  12  m
13  13  n
14  14  o
15  15  p
16  16  q
17  17  r
18  18  s
19  19  t
20  20  u
21  21  v
22  22  w
23  23  x
24  24  y
25  25  z

the desired way to do that is

In [11]:
df = pd_mydict.to_frame()

In [12]:
df

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

In [13]:
df = df.reset_index()

In [14]:
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

### 4

In [15]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [16]:
pd.DataFrame({1:ser1,2:ser2})

    1   2
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

### 5

In [17]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name="alphabet")

In [18]:
ser.name

'alphabet'

or to rename

In [19]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [20]:
#no name
ser.name

In [21]:
ser = ser.rename("alphabet")

In [22]:
ser.name

'alphabet'

according to author also ser.name = "a name" is possible

### 6

In [23]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [24]:
import operator
mask = list(map(operator.not_,ser1.isin(ser2)))

In [25]:
ser1[mask]

0    1
1    2
2    3
dtype: int64

In [26]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 7

In [27]:
ans = ser1[~ser1.isin(ser2)]
ans = pd.concat((ans, ser2[~ser2.isin(ser1)]),0)

In [28]:
ans

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

or using union and intersect

In [29]:
#FIXME

### 8

In [30]:
rdg = np.random.default_rng()

In [31]:
ser = pd.Series(rdg.normal(10, 5, 25))

In [32]:
ser

0      5.480105
1     13.721121
2     16.514730
3     13.039194
4      1.186433
5      7.560076
6     18.713138
7      9.164571
8      0.347588
9      0.802737
10     9.179774
11    12.686740
12     8.034828
13     7.649387
14    17.497151
15    10.892021
16     8.133735
17     9.877238
18     5.149185
19     3.021840
20    14.507573
21     4.586892
22    12.180088
23    19.415460
24     9.457572
dtype: float64

In [33]:
ser.describe()

count    25.000000
mean      9.551967
std       5.447731
min       0.347588
25%       5.480105
50%       9.179774
75%      13.039194
max      19.415460
dtype: float64

In [34]:
ser.min()

0.3475875600959881

In [35]:
ser.max()

19.415460130030187

In [36]:
ser.median()

9.179774225889583

other solution is to use np.percentile

### 9

In [37]:
ser = pd.Series(np.take(list('abcdefgh'), rdg.integers(8, size=30)))

In [38]:
ser

0     h
1     e
2     d
3     a
4     b
5     c
6     g
7     e
8     c
9     a
10    b
11    e
12    h
13    c
14    e
15    d
16    c
17    f
18    b
19    b
20    h
21    b
22    a
23    e
24    d
25    b
26    e
27    c
28    g
29    e
dtype: object

In [39]:
counts = ser.value_counts()

In [40]:
counts

e    7
b    6
c    5
h    3
d    3
a    3
g    2
f    1
dtype: int64

### 10

In [41]:
ser = pd.Series(rdg.integers(1, 5, [12]))

In [42]:
ser

0     2
1     1
2     4
3     1
4     3
5     1
6     3
7     4
8     3
9     1
10    4
11    4
dtype: int64

In [43]:
counts = ser.value_counts()

In [44]:
counts

1    4
4    4
3    3
2    1
dtype: int64

In [45]:
largest = counts.nlargest(2).index

In [46]:
ser[~ser.isin(largest)]

0    2
4    3
6    3
8    3
dtype: int64

In [47]:
ser[~ser.isin(largest)] = 'Other'

In [48]:
ser

0     Other
1         1
2         4
3         1
4     Other
5         1
6     Other
7         4
8     Other
9         1
10        4
11        4
dtype: object

### 11

In [49]:
ser = pd.Series(rdg.random(20))

In [50]:
pd.qcut(ser, 10, labels=["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th"])

0      3rd
1      6th
2      8th
3      5th
4      2nd
5      6th
6     10th
7      8th
8      1st
9      7th
10    10th
11     9th
12     5th
13     1st
14     4th
15     7th
16     3rd
17     4th
18     2nd
19     9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12

In [60]:
ser = pd.Series(rdg.integers(1,10,35))

In [61]:
ser.head()

0    6
1    5
2    9
3    1
4    9
dtype: int64

In [72]:
df = pd.DataFrame(ser.values.reshape(7,5))

In [73]:
df.head()

   0  1  2  3  4
0  6  5  9  1  9
1  4  1  7  1  2
2  7  9  5  8  8
3  7  3  5  5  3
4  7  5  6  2  9

### 13

In [74]:
ser = pd.Series(rdg.integers(1,10,7))

In [82]:
ser%3 == 0

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [77]:
ser

0    4
1    3
2    8
3    8
4    6
5    1
6    9
dtype: int64

In [79]:
ser[ser%3==0].index

Int64Index([1, 4, 6], dtype='int64')

or alternatively

In [84]:
np.argwhere(ser.values%3==0)

array([[1],
       [4],
       [6]])

### 14

In [85]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [86]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

the author suggested take, but I don't see exacltly why; this is pandas documentation of "take"

Return the elements in the given positional indices along an axis.

This means that we are not indexing according to actual values in the index attribute of the object. We are indexing according to the actual position of the element in the object.

in our case index is the same as accual position so both ways are possible

In [87]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### 15

In [88]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [94]:
#vertically
vertically = pd.concat([ser1,ser2], axis=0)

In [95]:
vertically

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [97]:
type(vertically)

pandas.core.series.Series

In [99]:
#horizontally
horizontally = pd.concat([ser1,ser2], axis=1)

In [100]:
horizontally

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [101]:
type(horizontally)

pandas.core.frame.DataFrame

### 16

In [102]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [113]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [111]:
%timeit [pd.Index(ser1).get_loc(i) for i in ser2]

154 µs ± 2.47 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

or

In [114]:
[np.where(i==ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [112]:
%timeit [np.where(i==ser1)[0].tolist()[0] for i in ser2]

458 µs ± 3.79 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

as you can see the second method is about 3 time slower

### 17

In [117]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [118]:
truth

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [119]:
pred

0    0.484441
1    1.111481
2    2.353973
3    3.753375
4    4.162775
5    5.747964
6    6.726511
7    7.152490
8    8.942479
9    9.577072
dtype: float64

In [124]:
((truth-pred).pow(2)).mean()

0.32982800526488315

### 18

In [125]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [127]:
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 19

In [133]:
[len(s) for s in ser]

[3, 2, 4, 4]

### 20

In [134]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [154]:
def calculate_diff(ser):
    return [(ser[i]-ser[i-1]) if (i-1 >= 0) and not np.isnan(ser[i-1]) and not np.isnan(ser[i]) else np.nan for i in range(len(ser))]

In [155]:
diff = pd.Series(calculate_diff(ser))

In [156]:
diff

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [157]:
calculate_diff(diff)

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

as it turns out the is a build in function

In [158]:
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [159]:
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64